* {
    padding: 0;
    margin: 0;
    font-family: arial;
    scroll-behavior: smooth;
}

/* footer link */
.col-6>a {
    display: block;
}

/* shop now btn */

#shop-btn {
    background-color: #ff8100;
}

/* width of every cards on product section */
#card-width {
    width: 18rem;
}


/* categories nav link */

.nav-item .nav-link {
    font-size: 20px;
}


/* product container */

#product-container {
    gap: 30px;
}







@media (max-width: 768.98px) {
    #input-form {
        width: 35%;
    }
}



/* responsive blog post. modify the width of image in each breakpoints */

@media (min-width: 768px) {
    .bg {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .bg {
        width: 230px;

    }
}

@media (min-width: 1200px) {
    .bg {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .bg {
        width: 250px;
    }
}

@media (max-width: 578px) {
    .bg {
        width: 100%;
    }
}

/* notification */

.notification {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: fit-content;
    margin-bottom: 10px;
    font-size: 14px;
    justify-self: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    color: blue;
    font-weight: bold;
    opacity: 0.95;
}

/*checkout */

.checkout {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: max-content ;
    margin-bottom: 10px;
    font-size: 14px;
    justify-self: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    font-weight: bold;
    opacity: 1;
}

.checkout:hover {
    border: 1px solid white;
    background-color: rgb(35, 94, 242);
    color: white !important;
}

.checkoutnotif {
 top: 50%;
}